.timer {
  margin: 1em auto;
}

.seconds-container {
  padding: 1em;
  margin: 1em 5em;
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.seconds {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
}
