#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Timer */

header {
  font-size: xxx-large;
  font-weight: bold;
}

.space-around-container {
  display: flex;
  justify-content: space-around;
}

.timer {
  margin: 3em auto;
}

.go {
  
}

.seconds-container {
  padding: 1em;
  margin: 2em 5em;
  border-radius: 50%;
}

.workout {
  border: 5px, solid, #fbc925;
}

.rest {
  border: 5px, solid, #9e5cf9;
}

button {
  margin: 0 10px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
}

h3 {
  margin: 1.5em auto 10px auto;
}

.stats {
  margin-bottom: 10px;
}

/* Edit Workout */

input {
  margin: 0 15px 18px 0;
}

.rounds-input {
  max-width: 63px;
}

.start-button {
  display: block;
  margin: 20px auto;
}